<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="psk1.assignment.myBatis.model.Movie" alias="Movie"/>
        <typeAlias type="psk1.assignment.myBatis.model.Role" alias="Role"/>
        <typeAlias type="psk1.assignment.myBatis.model.Producer" alias="Producer"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="MoviesDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/MovieMapper.xml"/>
        <mapper resource="mapper/RoleMapper.xml"/>
        <mapper resource="mapper/ProducerMapper.xml"/>
    </mappers>
</configuration>