<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="psk1.assignment.myBatis.dao.MovieMapper">
  <resultMap id="MovieMap" type="psk1.assignment.myBatis.model.Movie">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="RELEASE_DATE" jdbcType="DATE" property="releaseDate" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <collection property="roles" select="selectRolesInMovie" column="id" javaType="ArrayList" ofType="Role" />
  </resultMap>
  <resultMap type="Movie" id="resultMovie">
    <id property="id" column="id" />
    <result property="releaseDate" column="release_date" />
    <result property="title" column="name"/>
  </resultMap>
  <resultMap type="psk1.assignment.myBatis.model.Role" id="RoleResult">
    <association property="movie" javaType="Movie" column="movie" select="selectByPrimaryKey" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from PUBLIC.MOVIE
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="psk1.assignment.myBatis.model.Movie" useGeneratedKeys="true">
    insert into PUBLIC.MOVIE (RELEASE_DATE, TITLE)
    values (#{releaseDate,jdbcType=DATE}, #{title,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="psk1.assignment.myBatis.model.Movie">
    update PUBLIC.MOVIE
    set RELEASE_DATE = #{releaseDate,jdbcType=DATE},
      TITLE = #{title,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="MovieMap">
    select ID, RELEASE_DATE, TITLE
    from PUBLIC.MOVIE
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="MovieMap">
    select m.ID, m.RELEASE_DATE, m.TITLE
    from PUBLIC.MOVIE m
    order by m.id
  </select>
  <select id="selectRolesInMovie" parameterType="java.lang.Integer" resultType="Role">
    select *
    from PUBLIC.ROLE
    where movie_id = #{id}
  </select>
</mapper>