<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="psk1.assignment.myBatis.dao.RoleMapper">
  <resultMap id="RoleMap" type="psk1.assignment.myBatis.model.Role">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="ACTOR_NAME" jdbcType="VARCHAR" property="actorName" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
    <result column="MOVIE_ID" jdbcType="INTEGER" property="movieId" />
    <association property="movie" resultMap="psk1.assignment.myBatis.dao.MovieMapper.MovieMap" columnPrefix="movie_"/>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from PUBLIC.ROLE
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="psk1.assignment.myBatis.model.Role" useGeneratedKeys="true">
    insert into PUBLIC.ROLE (ACTOR_NAME, DESCRIPTION, ROLE_NAME,
      MOVIE_ID)
    values (#{actorName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, 
      #{movieId,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="psk1.assignment.myBatis.model.Role">
    update PUBLIC.ROLE
    set ACTOR_NAME = #{actorName,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      MOVIE_ID = #{movieId,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="RoleMap">
    select *
    from PUBLIC.ROLE
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="RoleMap">
    select ID, ACTOR_NAME, DESCRIPTION, ROLE_NAME, MOVIE_ID
    from PUBLIC.ROLE
  </select>
</mapper>